body {
  font-family: Arial, sans-serif;
  background-color: #CDD973;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffff;
  padding: 10px;
}

nav {
  text-align: center;
}

.logo {
  width: 100px;
  height: 80px;
}

.icon_usser {
  width: 50px;
  height: 50px;
}

nav ul,
form {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li,
.form {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteiner {
  display: flex;
}

.ult_adopcion {
  margin: 2%;
  flex: 1;
  width: 50%;
  align-items: center;
}

.adopte {
  margin: 2%;
  flex: 1;
  width: 50%;
  align-items: center;
}

.img {
  height: 100%;
  width: 100%;
}

.donation-form {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form_login,
.form_registro {
  text-align: center;
}

h2,
h1 {
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.images {
  margin-left: 20px;
}

.images img {
  display: block;
  margin-bottom: 10px;
}

.subtit_nos {
  margin-top: 5%;
}

.introduccion {
  text-align: center;
}